
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/home.css">
    <title>Home</title>
</head>
<body>
    <header class="hero">
        <div class="container">
    
     <div class="logo">
                <h1>HOME</h1>
            </div> 
                 
            <nav>
                <ul class="nav-links">
                    <li><a href="/home" >Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/predict">Predict</a></li>
                    <li><a href="/result">Result</a></li>
                    <li><a href="/report">Report</a></li>
                    <li><a href="/logout">Log out</a></li>
                    <!--<li><a href="#">Contact</a></li>-->
                </ul>
            </nav>
        </div>
    </header>
        <main calss="main">
            
            <div class="topic_1">
                <h3>TESTING FOR DIABATES :</h3>
                <div class="topic_1_para">
                    <h4>KEY POINTS :</h4>
                   <ul>
                        <li>You’ll need a blood sugar test to find out if you have prediabetes or diabetes.</li>
                        <li>Testing is simple, and results are usually available quickly.</li>
                   </ul> 
                  
                </div>
            </div>

            <div class="bg_img">
                <img src="/static/images/side-view-diabetic-woman-checking-her-glucose-level.jpg" alt="img1" style="width:100%;height:550px"/>
        
            </div>
            
    
            <div class="topic_2">
                <h3>WHY GET TESTED ?</h3>
                <div class="topic_2_para">
                    <p>
                        Prediabetes and type 2 diabetes often don't have any symptoms. (Type 1 diabetes is different—symptoms can develop quickly and can be severe.)
                    </br>
                        That's why people with any risk factors are urged to ask their doctor if they should be screened. Being screened means getting tested when you don't have any symptoms.
                    </br>
                        Catching prediabetes early can help people prevent or delay type 2 diabetes. Finding out they have type 2 diabetes—and taking action—can help people prevent or delay serious health complications.
                    </br>
                        Getting tested is simple and quick. Your blood will be drawn at your doctor's office or at a clinic so your blood sugar can be tested. Results are usually available quickly.
                    </br>
                    </p>
                    <img src="/static/images/img.jpg" alt="img1" style="width:500px;height:400px"></img>
                </div>
            </div>     
                   
            <div class="topic_3">
                <h3>WHEN TO GET TESTED ?</h3>
                <div class="topic_3_para">
                    <div class="t3_para1">
                        <h4>Type 2 diabetes or prediabetes :</h4>
                        <p>Ask your doctor about getting tested for prediabetes or type 2 diabetes if you have any of the risk factors. If you had your blood sugar tested at a health fair or pharmacy, follow up with your doctor. Your doctor may want to re-test you to make sure the results are accurate. </p>
                        <h4>Type 1 diabetes</h4>
                        <p>If your doctor thinks you have type 1 diabetes, your blood may also be tested for autoantibodies. These substances show your body is attacking itself and are often found with type 1 diabetes but not with type 2.</p>
                        <p>You may have your urine tested for ketones. Ketones are produced when your body burns fat for energy. Having ketones in your urine indicates you have type 1 diabetes instead of type 2.</p>
                    </div>
                    <div class="t3_para2">
    
                        <h4>Gestational diabetes :</h4>
                        <p>Gestational diabetes usually develops around the 24th week of pregnancy. You'll probably be tested between 24 and 28 weeks.</p>
                        <p>If you're at higher risk for gestational diabetes, your doctor may test you earlier. If your blood sugar is higher than normal early in your pregnancy, you may not have gestational diabetes. You may have type 1 or type 2 diabetes instead.<p/>
                        
                    </div>
                </div>   
            </div> 
    
            <div class="topic_4">
                <h3>TYPES OF TESTING :</h3>
                <div class="topic_4_para">
                    <h3>Tests for type 1 diabetes, type 2 diabetes, prediabetes, and gestational diabetes :</h3>
                    <div class="t4_list">
                        <h5>A1C test :</h5>
                        <p>The A1C test measures your average blood sugar level over the past 2 or 3 months.</p>
                        <ul>
                            <li><strong>Normal:</strong> below 5.7%</li>
                            <li><strong>Prediabetes:</strong> 5.7–6.4%</li>
                            <li><strong>Diabetes:</strong>  6.5% or above</li>
                        </ul>
                    </div>
    
                    <div class="t4_list">
                        <h5>Fasting blood sugar test :</h5>
                        <p>This measures your blood sugar after an overnight fast (not eating).</p>
                        <ul>
                            <li><strong>Normal:</strong> 99 mg/dL or below</li>
                            <li><strong>Prediabetes:</strong> 100–125 mg/dL</li>
                            <li><strong>Diabetes:</strong> 126 mg/dL or above</li>
                        </ul>
                    </div>
    
                    <div class="t4_list">
                        <h5>Glucose tolerance test :</h5>
                        <p>This measures your blood sugar before and after you drink a liquid that contains glucose. You'll fast (not eat) overnight before the test and have your blood drawn to measure your fasting blood sugar level. Then you'll drink the liquid and have your blood sugar level checked. These checks usually happen at 1 hour, 2 hours, and possibly 3 hours afterward.</p>
                        <p>At 2 hours:</p>
                        <ul>
                            <li><strong>Normal:</strong> 140 mg/dL or below</li>
                            <li><strong>Prediabetes:</strong> 140–199 mg/dL</li>
                            <li><strong>Diabetes:</strong> 200 mg/dL or above</li>
                        </ul>
                    </div>
    
                    <div class="t4_list">
                        <h5>Random blood sugar test :</h5>
                        <p>This measures your blood sugar at the time you're tested. You can take this test at any time and don't need to fast (not eat) first.</p>
        
                        <ul>
                            <li><strong>Normal:</strong> n/a</li>
                            <li><strong>Prediabetes:</strong> n/a</li>
                            <li><strong>Diabetes:</strong> 200 mg/dL or above</li>
                        </ul>
                    </div>                
                </div>
            </div>
    
    
            <div class="topic_5">
                <h3>AFTER A DIAGNOSIS :</h3>
                <p>If your results show you have type 1, type 2, or gestational diabetes, talk with your doctor about a detailed treatment plan. Your plan should include:</p>
    
                <ul>
                    <li>A referral to diabetes self-management education and support services.</li>
                </ul>
            </div>
        </main>
    
        <footer>
          @ Developed by seenu
        </footer>
</body>
</html>
